{% extends "adminbase.html" %}
{% block adminpage %}
    <div class="row">
        <div class="col">
            <h1 class="display-4">Email updates</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                        <tr>
                            <td>{{ i.email }}</td>
                            <td>
                                <a href="/dashboard/edel/{{ i.id }}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock adminpage %}
