<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Robotics</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="codigoaldea">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="/static/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css" />

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="inner_page" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->
    <div id="preloader">
        <div class="loader">
            <img src="/static/images/loader.gif" alt="#" />
        </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

     <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href=""><img src="/static/images/ilogo.png" alt="image"></a>
				<a class="navbar-brand" href=""><img src="/static/images/logo11.png" alt="image"></a><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">
                        <li><a class="nav-link active" href="/">Home</a></li>
                        <li><a class="nav-link active" href="/project/">Projects</a></li>
                        <li><a class="nav-link" href="/intern/">Internships</a></li>
                        <li><a class="nav-link" href="/certification/">Certification Courses</a></li>
						<li><a class="nav-link" href="/resources/">Resources</a></li>
						<li><a class="nav-link" href="/contact/">Contact us</a></li>
                    </ul>
                </div>
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <!-- End header -->

	<!-- section -->
	
	<section class="inner_banner">
	  <div class="container">
	      <div class="row">
		      <div class="col-12">
			     <div style= "word-spacing: 30px"  class="full">
				     <h3>Projects : Robotics</h3>
				 </div>
			  </div>
		  </div>
	  </div>
	</section>
	
	<!-- end section -->
   
	<!-- section -->
    <div class="section margin-top_50">
        <div class="container">
            <div class="row">
                <div class="col-md-6 layout_padding_2">
                    <div class="full">
                        <div class="heading_main text_align_left">
						   <h2><span>Robotics </span> Projects</h2>
                        </div>
									
                    </div>
                </div>
				
						<div  class="full">
						  <p>   Smart Shopping Trolley that Follows Customer<br>
								Object Tracker & Follower Robot Using Raspberry Pi<br>
								Rough Terrain Beetle Robot<br>
								Smart Solar Grass Cutter With Lawn Coverage<br>
								Path Planner Robot for Indoor Positioning<br>
								LIDAR based Self Driving Car<br>
								Motorized Solar Scarecrow Bird Animal Repellent<br>
								DIY 5DOF Wireless Hand Motion Controlled Robotic Gripper Arm<br>
								Design and Fabrication of Emergency braking system in Four-Wheeler<br>
								Arduino based Snake Robot Controlled using Android Application<br>
								Variable Head Solar Grass Cutter Weed Trimmer<br>
								Fire Fighter Robot With Night Vision Camera<br>
								RF Controlled Solar Panel Based Robotic Vehicle<br>
								LIDAR based Object Detection for Military Spying<br>
								Design and Manufacturing of Solar Powered Seed Sprayer Machine<br>
								Long Range Spy Robot With Night Vision<br>
								Long Range Spy Robot With Obstacle Detection<br>
								Long Range Spy Robot With Metal Detection<br>
								Remote Controlled Automobile Using Rf<br>
								Robotic Vehicle Controlled By Hand Gesture Using PIC<br>
								Android Controlled Robotic Arm<br>
								Hand Motion Controlled Robotic Arm<br>
								8 Leg Spider Robot by Theo Jansen Linkage<br>
								Goods Transport Stair Climber Robot<br>
								Flamethrower & Extinguisher RC Robot<br>
								RC Solar Lake Pool Cleaner Drone<br>
								Oil Skimmer RC Boat<br>
								Wireless Master Joystick Controller for Robotics<br>
								Arduino Based Autonomous Fire Fighting Robot<br>
								Arduino Ultrasonic Sonar/Radar Monitor Project<br>
								Motion Controlled Pick & Place Obstacle Avoider Robot<br>
								Women Safety Night Patrolling Robot<br>
								Programmable Omni Direction Robotic Arm Vehicle<br>
								Off Road Adventure Robot with Action Camera<br>
								Waterproof Action Camera Drone<br>
								Solar Panel Cleaning Robot<br>
								IOT Water Pollution Monitor RC Boat<br>
								LIDAR Micro Done With Proximity Sensing<br>
								RC Underwater Exploration Drone<br>
								Wall Climbing Glass Cleaner Robot<br>
								Sustainable Fishing Drone Without Bycatch<br>
								Self Charging Solar Powered Drone<br>
								Pesticide Sprayer & COVID Sanitization Drone<br>
								Thermal Vision RC Robotic Tank<br>
								Programmable Robotic Arm Using Arduino<br>
								Voice controlled wheelchair for physically disabled<br>
								IOT Virtual Doctor Robot<br>
								Medical Supplies Delivery Drone<br>
								IOT Weather Station Airship<br>
								Fishing Drone<br>
								Solar Floor Cleaner Robot<br>
								IOT Dog Daycare Robot<br>
								Android Micro Drone With Obstacle Detector<br>
								Indoor Racing Drone with Action Camera<br>
								DIY Tricopter Selfie Drone<br>
								360° Aerial Surveillance UAV With IOT Camera<br>
								360° Filmmaking Drone For 4K HD Video<br>
								Fire Extinguisher & Fire Fighting Drone<br>
								Thermal Screening Drone<br>
								IOT Social Distancing & Monitoring Robot For Queue<br>
								Autonomous Theft Proof Delivery Robot For Food & Ecommerce<br>
								Social Distancing & Mask Monitor Drone<br>
								DIY Ventilator using Arduino For Covid Pandemic<br>
								Auto Temperature Detector for Entrance For Covid Safety<br>
								Water Landing and Take-off Drone<br>
								2WD Vehicle Drone Air + Land Surveillance<br>
								Public Property Violation and Anti Littering Drone<br>
								Raspberry Pi based Android Controlled Surveillance Robot<br>
								Farm Protector Drone for using Arduino<br>
								Design and Fabrication of External Pipe Climbing Robot<br>
								Anti-Riot Drone with Tear Gas<br>
								Robotic Solar Lawn Mower with Theft Detection<br>
								Automated Vehicle Umbrella Tent for Hailstorm Protection<br>
								LIDAR based Autonomous Vehicle with GPS Tracking<br>
								Unlimited Battery E bike using Solar & Wind Power<br>
								Solar Powered Water Trash Collector<br>
								Water Pollution Monitoring RC Boat<br>
								Pollution Monitoring & Source Tracker Drone<br>
								Intelligent Surveillance and Night Patrolling Drone<br>
								Quadriplegics Wheelchair Control by Head Motion using Accelerometer<br>
								Design and Fabrication of Vertically Wall Climbing Glass Cleaning Robot<br>
								Advanced Automatic Self-Car Parking using Arduino Project<br>
								Multicontroller based Wheelchair Safety using Android, Touch, Speech & Gesture Control<br>
								Accident Avoiding System with Crash Detection and GPS Notification<br>
								Wireless Humanoid Bionic Arm on Robotic Vehicle<br>
								DTMF & RF Dual Controller Based Robot<br>
								Fire Fighter Robot with Fire Resistant Body<br>
								Smart Floor Cleaner Robot Using Android<br>
								Motion Based Maze Solver Using Android<br>
								Multi Robot Coordination For Swarm Robotics<br>
								Automatic Whiteboard Eraser Robot<br>
								Automatic Vacuum Cleaner Robot Project<br>
								RF Controlled Beach Cleaner Robotic Vehicle<br>
								Self Balancing Robot Project<br>
								Joystick Controlled Steering Mechanism Vehicle<br>
								High Performance Hovercraft With Power Turning<br>
								Accurate Speed Control Of Electric Car Using ARM<br>
								Rf Controlled Spy Robot With Night Vision Camera<br>
								Hovercraft Controlled By Android<br>
								Collision Detection Robotic Vehicle Using ARM<br>
								Fully Automated Solar Grass Cutter Robot<br>
								Remote Controlled Pick & Place Robotic Vehicle<br>
								MC Based Line Follower Robot<br>
								Agricultural Robot Project<br>
								Fire Fighter Robot Project<br>
								RF Controlled Robotic Vehicle
								RF Controlled Robotic Vehicle With Metal Detection Project<br>
								Obstacle Avoider Robotic Vehicle<br>
								Voice Controlled Robotic Vehicle<br>
								Speech Detector Robotic Vehicle Control<br>
								Robotic Arm Vehicle Controlled By Touch Screen Display<br>
								TV Remote Controlled Robotic Vehicle Project<br>
								Robot Controlled By Android Application<br>
								Android Controlled Fire Fighter Robot<br>
								Android Controlled Spy Robot With Night Vision Camera<br>
								Android Controlled Pick And Place Robotic Arm Vehicle Project<br>
								Android Controlled Wildlife Observation Robot<br>
								Wireless Surveillance Robot Controlled by PC<br>
								RF Based Night Vision Spy Robot Using PIC<br>
								Advanced Military Spying & Bomb Disposal Robot<br>
								Wildlife Observation Robot Using Rf<br>
								Shuttling Metro Train Between Stations Project

								</p>


						</div>
						<div class="full">
						   <a class="hvr-radial-out button-theme" href="Registeration.html">Register</a>
						   <a style="margin-left:650px" class="hvr-radial-out button-theme" href="Projects.html">Back</a>
						</div>
		</div>				
		 </div>				
   </div>
	<!-- end section -->
	
		<!-- section -->
    <div class="section layout_padding">
        
    </div>
	<!-- end section -->
 <!-- Start Footer -->
    <footer class="footer-box">
        <div class="container">
		
		   <div class="row">
		   
		      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			     <div class="footer_blog">
				    <div class="full margin-bottom_30">
					   <img src="/static/images/Flogo1.png" alt="#" />
					 </div>
					 <div  style =" text-align:justify" class="full white_fonts">
					
					    <p> I4U is a Rapidly growing Mentoring and Training Institute which has successfully completed 4270 T&D Activities and planning to expand for Industrial Automation Training.</p>
					 </div>
				 </div>
			  </div>
			  
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			       <div class="footer_blog footer_menu white_fonts">
						    <h3>Quick links</h3>
						    <ul> 
								<li><a href="/contact/"> >Join Us</a></li>
							    <li><a href="#"> >Gallery </a></li>
							    <li><a href="/project/"> >Projects</a></li>
							    <li><a href="/intern/"> >Internships</a></li>
							    <li><a href="/certification/"> >Certifications</a></li>
							</ul>
						 </div>
				 </div>
				 
				 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				 <div class="footer_blog full white_fonts">
						     <h3>Updates</h3>
							 <p>For Updates and Brouchers , mail us</p>
							 <div class="newsletter_form">
							    <form method="post">
                                    {% csrf_token %}
								   <input type="email" placeholder="Your Email" name="email" required />
								   <button>Submit</button>
								</form>
							 </div>
						 </div>
					</div>	 
			  
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				 <div class="footer_blog full white_fonts">
						     <h3>Contact us</h3>
							 <ul class="full">
							   <li><img src="/static/images/i5.png"><span>Smriti Nagar , Bhilai<br>Chhattisgarh, BHARAT </span></li>
							   <li><img src="/static/images/i61.png"><span>info@innovation4u.in , projects@innovation4u.in</span></li>
							   <li><img src="/static/images/i7.png"><span>+91-8103661072</span></li>
							 </ul>
						 </div>
					</div>	 
			  
		   </div>
		
        </div>
    </footer>
    <!-- End Footer -->

    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p class="crp">© Copyright 2023 Developed by <span class="company-name">Codigo Aldea</span> / <span class="developer-name">Amit Sahu</span></p> 
                </div>
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.pogo-slider.min.js"></script>
    <script src="/static/js/slider-index.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/form-validator.min.js"></script>
    <script src="/static/js/contact-form-script.js"></script>
    <script src="/static/js/isotope.min.js"></script>
    <script src="/static/js/images-loded.min.js"></script>
    <script src="/static/js/custom.js"></script>
	<script>
	/* counter js */

(function ($) {
	$.fn.countTo = function (options) {
		options = options || {};
		
		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);
			
			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;
			
			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
			
			$self.data('countTo', data);
			
			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);
			
			// initialize the element with the starting value
			render(value);
			
			function updateTimer() {
				value += increment;
				loopCount++;
				
				render(value);
				
				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}
				
				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;
					
					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}
			
			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};
	
	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};
	
	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
	</script>
</body>

</html>